.header {
    margin: 0px;
    padding: 0px;
    border-bottom: 2px solid #cccccc;
    overflow: hidden;
    background: #ffffff;
}

h1 {
    margin: 0px;
    background: #4aaaa5;
    float: left;
    padding: 15px 30px;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    font-size: 48px;
}

.container {
    background: #ffffff;
    margin: 0px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
}

.width-header {
    width: 75%;
    margin: 0 auto;
    /*padding: 0px;*/
}

.width {
    width: 75%;
    margin: 0 auto;
    /*padding: 0px;*/
}

h2 {
    margin-top: 0px;
    padding-bottom: 20px;
    border-bottom: 2px solid #dddddd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    /*background: blueviolet*/
}

a:visited {
    color: #777777;
}

a {
    color: #777777;
    text-decoration: none;
}

p {
    margin: 0px;
    padding: 0px;
    line-height: 1.7;
    padding-bottom: 20px;
    color: #777777;
}

img {
    padding-top: 8.5px;
    float: left;
    padding-right: 30px;
}

body {
    margin: 0 auto;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.background {
    background-image: url("../images/criss-cross/criss-cross/criss-cross.png");
    clear: left;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 40px;
}

footer {
    background: #666666;
    padding-top: 30px;
    text-align: center;
    border-top: 10px solid #4aaaa5;
    font-size: 16px;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding-top: 24.5px;
}

li:last-child {
    border-left: none;
}

li {
    float: right;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #aaa;
}

form {
    padding-bottom: 20px;
    overflow: hidden;
}

.submit {
    display: block;
    float: left;
    margin-top: 10px;
    background: #4aaaa5;
    border: none;
    color: white;
    padding: 8px 25px;
    font-size: 18px;
    margin-bottom: 10px;
}

.message {
    height: 200px;
}

.input {
    width: 99.5%;
    float: left;
}

.contactpara {
    padding-bottom: 0px;
    float: left;
    font-size: 18px;
}

.block{
    overflow:hidden;
    /*background: red;*/
}

.box {
    float: left;
    position: relative;
}

.port-img {
    padding-bottom: 30px;
    padding-right: 40px;
}

.port-img-label {
    position: absolute;
    top: 175px;
    text-align: center;
    background: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: .8;
}

.port-cont {
    padding-bottom: 10px;
}

@media screen and (max-width: 980px) {
    .container {
        margin: 0px;
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
        overflow: hidden;
        margin-left: 5%;
    }

    .input {
        width: 99%;
    }

    .width {
        width:50%;
    }

    .width-header {
        width: 90%;
        margin: 0 auto;
    }

    img {
        padding-top: 8.5px;
        float: left;
        padding-right: 30px;
        width: 45%;
        max-width: 100%;
        height: auto;
    }

    p {
        font-size: 16px;
    }

    .box {
        float: left;
        position: relative;
        width: 47%;
        margin-right: 10px;
    }
    
    .port-img {
        padding-top: 5px;
        float: left;
        padding-right: 30px;
        width: 100%;
        max-width: 100%;
        height: auto;
        padding-bottom: 10px;
        padding-right: 5px;
        display: inline-block;
    }
    
    .port-img-label {
        position: absolute;
        top: 60%;
        text-align: center;
        background: #4aaaa5;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: normal;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        opacity: .8;
        z-index: 1;
    }
    
    .port-cont {
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0px auto;
        padding-top: 30px;
        padding-left: 25px;
        padding-right: 25px;
        overflow: hidden;
    }

    .width {
        width:90%;
    }

    .width-header {
        width: 90%;
        margin: 0 auto;
    }

    img {
        padding-top: 8.5px;
        float: left;
        padding-right: 30px;
        width: 50%;
        max-width: 100%;
        height: auto;
    }

    p {
        font-size: 18px;
    }
}

@media screen and (max-width: 730px) {
    li {
        float: right;
        margin: 0 auto;
        margin-left: 10px;
        padding-left: 10px;
        font-size: 16px;
        background-color: red;
    }

    h1 {
        float: none;
        text-align: center;
        font-size: 40px;
        padding: 25px 30px;
    }

    .nav-about {
        padding: 0;
        margin: 0;
    }

    .width-header {
        width: 100%;
        margin: 0;
    }

    ul {
        padding-top: 0px;
        overflow: hidden;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 200px;
    }

}

@media screen and (max-width: 640px) {
    .container {
        margin: 0px auto;
        padding-top: 30px;
        padding-left: 25px;
        padding-right: 25px;
        overflow: hidden;
    }

    .width {
        width:85%;
    }

    .width-header {
        width: 100%;
        margin: 0;
    }

    .box {
        width: 100%;
    }
    
    .port-img-label {
        top: 70%;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 32px;
    }

    .img-container {
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
    }

    img {
        width: 272px;
        padding-top: 8.5px;
        float: none;
        margin: 0 auto;
        padding-right: 30px;
        padding-bottom: 15px;
        max-width: 100%;
        height: auto;
        display: block;
    }

    p {
        font-size: 22px;
        clear: both;
    }
}
